*.o
*.xyz
*.test
*.input
bash/*/slurm
bash/*/bin
bash/*/tasks
inputs/
input/*
*~
.DS_Store
*.exe
*.dat
*.mat
*.pos
*.energy
*.stats
*.avi
*.mp4
*.mov
local/
.DS_Store
.vscode
*.json
.vscode/*
.vscode/settings.json
